/* html,body{
    margin:10px;
    padding:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
} */

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 100px auto ;
}
image{
    width: 1px;
    margin: 10px;
    border: 0;
    padding: 15px;
    border-radius: 10px ;
}
input{
    color: rgba(64, 184, 0, 0.862);
    background-color: rgba(196, 239, 255, 0.882);
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
    margin: 10px ;

}
button{
   color: rgba(0, 184, 178, 0.233);
    background-color: rgba(203, 255, 196, 0.719);
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
}